.rt-project-card {
    max-width: 220px;

    .rt-image {
        margin-bottom: 8px;
    }

    >.rt-card {
        padding: 4.5px 12px 9.5px 12px;
    }
}

.rt-project-card-list-item {
    width: 220px;
}
