{
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react-hooks/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "createDefaultProgram": true
    },
    "plugins": [
        "import"
    ],
    "rules": {
        "no-empty": "error",
        "no-console": "warn",
        "no-debugger": "error",
        "no-extra-semi": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        // A temporary hack related to IDE not resolving correct package.json
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "error",
        // Since React 17 and typescript 4.1 you can safely disable the rule
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-var-requires": "off",
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function"
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {},
            "typescript": {
                "alwaysTryTypes": true,
                "project": "./tsconfig.json"
            }
        },
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".ts",
                ".tsx"
            ]
        }
    },
    "ignorePatterns": [
        "webpack.config.js",
        "src/ComponentsV2/index.js",
        "src/Build"
    ]
}
