.rt-help-menu {
    border: 1px solid #f2f4f7;
    padding: 20px;
    user-select: none;
    width: 100%;

    .help-title {
        padding-bottom: 10px;
    }

    .help-description {
        margin-bottom: 10px;
    }

    .video-player {
        text-align: center;
        padding-top: 15px;
    }

    &.highlighted{
        border-left: 5px solid $primary600;
        background-color: $primary100;
    }
}
