.rt-alignment-property {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .rt-alignments-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}