.rt-show-hide-password {
    display: flex;
    flex-direction: row;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: $gray400;
    position: absolute;

    svg.rt-icon {
        margin-top: 3px;
    }

    div {
        padding-left: 2px;
    }
}
