// .rt-reset-password-form-container {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     width: 50%;

//     .reset-password-outer {
//         width: 50%;
//         display: flex;
//         align-items: center;
//         border-radius: 25px;
//         background: $white;
//         flex-direction: column;
//         -webkit-box-shadow: $boxShadowXL;
//         -moz-box-shadow: $boxShadowXL;
//         box-shadow: $boxShadowXL;

//         @include phone {
//             width: 90%;
//         }

//         .title {
//             padding: 24px;
//             margin: 0 auto;
//             text-align: center;
//         }

//         .reset-password-form {
//             padding: 20px;
//             width: 100%;

//             .password-input {
//                 position: relative;

//                 .password-preview {
//                     cursor: pointer;
//                     top: 0;
//                     right: 0;
//                     width: 36px;
//                     height: 100%;
//                     display: flex;
//                     position: absolute;
//                     align-items: center;
//                     justify-content: center;
//                     background-color: $gray300;
//                     border-bottom-right-radius: 8px;
//                     border-top-right-radius: 8px;
//                 }
//             }
//         }

//         .buttons-container {
//             width: 100%;
//             padding: 20px;
//             text-align: center;

//             .button {
//                 margin: auto;
//                 width: 140px;
//                 font-size: 20px;
//                 color: $white;
//                 font-weight: 500;
//                 border-radius: 5px;
//             }

//             .reset-password {
//                 padding: 10px;
//                 cursor: pointer;
//                 font-size: 18px;
//                 font-weight: 600;
//                 color: $blue-link-color;
//                 text-decoration: underline;
//             }
//         }
//     }

//     .password-error-container {
//         .password-error {
//             position: absolute;
//             left: 290px;
//             top: 80px;
//         }

//         .warning-char {
//             position: absolute;
//             color: red !important;
//             width: 250px;
//             left: 20px;
//             top: 80px;
//         }

//         .warning-match {
//             position: absolute;
//             color: red !important;
//             width: 250px;
//             left: 90px;
//             top: 90px;
//         }
//     }

//     .register-link {
//         padding: 10px;
//         font-size: 18px;
//         font-weight: 600;

//         > span {
//             cursor: pointer;
//             font-size: 18px;
//             font-weight: 600;
//             color: $blue-link-color;
//             text-decoration: underline;
//         }
//     }

//     .terms-and-conditions {
//         padding: 20px;
//         font-size: 14px;
//         font-weight: 500;

//         > span {
//             cursor: pointer;
//             font-size: 14px;
//             font-weight: 500;
//             color: $gray600;
//             text-decoration: underline;
//         }
//     }
// }
.rt-reset-password-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  .reset-password-outer {
    position: relative;
    width: 55%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background: $white;
    flex-direction: column;
    -webkit-box-shadow: $boxShadowXL;
    -moz-box-shadow: $boxShadowXL;
    box-shadow: $boxShadowXL;

    @include phone {
      width: 90%;
    }

    .title {
      padding: 24px;
      margin: 0 auto;
      text-align: center;
    }

    .reset-password-form {
      padding-inline: 20px;
      padding-block: 10px;
      width: 100%;

      .password-input {
        position: relative;

        .password-preview {
          cursor: pointer;
          top: 0;
          right: 0;
          width: 36px;
          height: 100%;
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          background-color: $gray300;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
    }

    .buttons-container {
      width: 100%;
      padding: 20px;
      text-align: center;

      .button {
        margin: auto;
        margin-top: 40px;
        width: 140px;
        font-size: 20px;
        color: $white;
        font-weight: 500;
        border-radius: 5px;
      }

      .reset-password {
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        color: $blue-link-color;
        text-decoration: underline;
      }
    }
  }

  .password-error-container {
    .password-error {
      position: absolute;
      left: 280px;
      bottom: 80px;
    }

    .warning-char {
      position: absolute;
      color: red !important;
      width: 250px;
      left: 20px;
      padding-bottom: 10px;
      bottom: 70px;
    }

    .warning-match {
      position: absolute;
      color: red !important;
      width: 250px;
      left: 90px;
      top: 90px;
    }
  }

  .register-link {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;

    > span {
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      color: $blue-link-color;
      text-decoration: underline;
    }
  }

  .terms-and-conditions {
    padding: 20px;
    font-size: 14px;
    font-weight: 500;

    > span {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: $gray600;
      text-decoration: underline;
    }
  }
}
