.rt-finish-questions-card {
    .finish-questions-header {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .finish-questions-buttons {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 200px;
        padding-bottom: 40px;
    }
}
