.rt-header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  padding: 0 30px;
  border-bottom: 1px solid $gray200;

  @include phone {
    padding: 0 25px;
 justify-content:flex-start;

}
  > div {

      display: flex;
      align-items: center;

      /*@media (max-width: 460px) {
        flex-direction: column;
        
      }*/
      &.logo-container {
          justify-content: flex-start;

          > * {
              margin-right: 16px;
          }

          &:hover {
            cursor: pointer;
          }
      }

      &.user-container {
          justify-content: flex-end;

          > * {
              margin-left: 16px;
          }
       
          @media (min-width: 360px) and (max-width: 394px) {
            padding-left: 100px;
          }
          @media (min-width: 395px) and (max-width: 430px) {
            padding-left: 130px;
          }
        }

      .rt-btn {
          height: 40px;

          .rt-status-light {
              margin-right: 5px;
          }
      }
  }

  .logo-container {

  }
  .upgrade-btn {
    @include phone {
        display: none;
    }
}

}
