.rt-forget-password-template {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .left-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        > img {
            width: 60%;
        }
    }
}
