.device_preview_layout {
    overflow-y: auto;
    height: calc(100vh - 146px);
    width: -webkit-fill-available;
    margin-top: auto;
    margin-bottom: auto;

    .design-container{
        height: 100%;
        display: flex;
        max-width: 100%;
        position: relative;
        align-items: center;
        margin: auto;
        justify-content: center;
    } 

    .iphone-x {
        left: 0;
        right: 0;
        width: auto;
        // z-index: 3;
        margin: 0 auto;
        max-height: 100%;
        position: absolute;
    }
    .screen {
        width: auto;
        // z-index: 2;
        max-height: 95%;
    }
    .logo {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // z-index: 2;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
}
