.rt-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  --border-width: 1px;
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  box-sizing: border-box;
  gap: 8px;
  margin-left: 10px;

  @include phone {
    font-size: 12px;
    margin-left: 0;
  }

  &.rt-btn-primary {
    &.rt-btn-contained {
      color: $white;
      background-color: $primary600;
      border-color: $primary600;
      box-shadow: $boxShadowXS;

      &:hover {
        background-color: $primary700;
        border-color: $primary700;
      }

      &:focus {
        box-shadow: $boxShadowXSFocusedPrimary;
      }

      &:disabled {
        background-color: $primary200;
        border-color: $primary200;
      }
    }

    &.rt-btn-outlined {
      color: $primary700;
      background-color: $primary50;
      border-color: $primary50;
      box-shadow: $boxShadowXS;

      &:hover {
        background-color: $primary100;
        border-color: $primary100;
      }

      &:focus {
        box-shadow: $boxShadowXSFocusedPrimary;
      }

      &:disabled {
        color: $primary300;
        background-color: $primary25;
        border-color: $primary25;
      }
    }

    &.rt-btn-text {
      color: $primary700;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: $primary50;
        border-color: $primary50;
      }

      &:disabled {
        color: $gray300;
      }
    }

    &.rt-btn-link {
      color: $primary700;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        color: $primary800;
      }

      &:disabled {
        color: $gray300;
      }
    }
  }

  &.rt-btn-gray {
    &.rt-btn-outlined,
    &.rt-btn-contained {
      color: $gray700;
      background-color: $white;
      border-color: $white;
      box-shadow: $boxShadowXS;
      border: 1px solid $gray300;

      &:hover {
        background-color: $gray50;
        border-color: $gray50;
      }

      &:focus {
        box-shadow: $boxShadowXSFocusedGray;
      }

      &:disabled {
        color: $gray300;
        border: 1px solid $gray200;
      }
    }

    &.rt-btn-text {
      color: $gray500;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        color: $gray600;
        background-color: $gray50;
        border-color: $gray50;
      }

      &:disabled {
        color: $gray300;
      }
    }

    &.rt-btn-link {
      color: $gray500;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        color: $gray600;
      }

      &:disabled {
        color: $gray300;
      }
    }
  }

  &.rt-btn-error {
    &.rt-btn-contained {
      color: $white;
      background-color: $error600;
      border-color: $error600;
      box-shadow: $boxShadowXS;

      &:hover {
        background-color: $error700;
        border-color: $error700;
      }

      &:focus {
        box-shadow: $boxShadowXSFocusedError;
      }

      &:disabled {
        background-color: $error200;
        border-color: $error200;
      }
    }

    &.rt-btn-outlined {
      color: $error700;
      background-color: $error50;
      border-color: $error50;
      box-shadow: $boxShadowXS;

      &:hover {
        background-color: $error100;
        border-color: $error100;
      }

      &:focus {
        box-shadow: $boxShadowXSFocusedError;
      }

      &:disabled {
        color: $error300;
        background-color: $error25;
        border-color: $error25;
      }
    }

    &.rt-btn-text {
      color: $error700;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: $error50;
        border-color: $error50;
      }

      &:disabled {
        color: $error300;
      }
    }

    &.rt-btn-link {
      color: $error700;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        color: $error800;
      }

      &:disabled {
        color: $error300;
      }
    }
  }

  .rt-icon {
    font-size: 20px;
  }

  &.rt-btn-xs {
    padding: calc(8px - var(--border-width)) calc(14px - var(--border-width));

    @include small-phone {
      padding: calc(3px - var(--border-width)) calc(6px - var(--border-width)); 
    }

    @include phone {
      padding: calc(4px - var(--border-width)) calc(8px - var(--border-width)); 
    }

    &.icon {
      padding: calc(8px - var(--border-width));
    }
  }

  &.rt-btn-sm {
    padding: calc(10px - var(--border-width)) calc(16px - var(--border-width));
    @include small-phone {
      padding: calc(3px - var(--border-width)) calc(6px - var(--border-width)); 
    }

    @include phone {
      padding: calc(4px - var(--border-width)) calc(8px - var(--border-width)); 
    }

    &.icon {
      padding: calc(10px - var(--border-width));
    }
  }

  &.rt-btn-md {
    padding: calc(10px - var(--border-width)) calc(18px - var(--border-width));
 @include small-phone {
      padding: calc(3px - var(--border-width)) calc(6px - var(--border-width)); 
    }
    @include phone {
      padding: calc(4px - var(--border-width)) calc(8px - var(--border-width)); 
    }

    &.icon {
      padding: calc(12px - var(--border-width));
    }
  }

  &.rt-btn-lg {
    padding: calc(12px - var(--border-width)) calc(20px - var(--border-width));
    @include phone {
      padding: calc(4px - var(--border-width)) calc(8px - var(--border-width)); 
    }
    &.icon {
      padding: calc(14px - var(--border-width));
    }
  }

  &.rt-btn-xl {
    padding: calc(16px - var(--border-width)) calc(28px - var(--border-width));
    @include phone {
      padding: calc(4px - var(--border-width)) calc(8px - var(--border-width)); 
    }
    &.icon {
      padding: calc(16px - var(--border-width));
    }

    .rt-icon {
      font-size: 24px;
    }

    gap: 12px;
  }

  &.bold {
    font-weight: bold;
  }
}
