.rt-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 18px;
    padding: 20px 15px;

    @media (max-width: 460px) {
        /*flex-direction: column;*/
        gap: 30px;
    }

    &.empty {
        border: 0px;
        height: 0px;
        padding: 0px;
    }

    .rt-btn {
        padding: 0px;
    }

    .rt-icon {
        font-size: 16px;
    }
}
