.rt-forget-password-redirect {
  .redirect-container {
    display: flex;
    justify-content: center;

    .forget-password-text {
      align-items: center;
      display: flex;
      padding-right: 0.5vw;
      font-size: 20px;
    }

    .redirect {
      cursor: pointer;
      color: #2062fe;
      text-decoration: underline;
      font-size: 20px;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}
