.rt-teams-content {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: $white;
    .rt-card {
        height: 100%;
        justify-content: inherit;
        overflow: auto;
    }

    .confirmation-loading {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}
