.rt-register-card {
  min-height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20%;
  }

  .form-info {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
  }

  .form-name {
    @extend .form-info;
    width: 50%;
  }
  .form-surname {
    @extend .form-info;
    width: 50%;
  }

  .form-checkbox {
    @extend .form-info;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

    > div {
      padding-left: 5px;
    }
  }

  .sign-up {
    width: 180px;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
  }
  .warning-char-reg {
    color: red !important;
    margin-bottom: 10px;
  }

  @include phone {
    padding-left: 0;
    border-left: none;
  }
}

@media (min-width: 769px) {
  .rt-register-card {
    border-left: 2px solid $gray300;

    .form-name {
      padding-right: 15px;
    }
    .form-surname {
      padding-left: 15px;
    }

    .form-wrapper {
      margin-left: 60px;
    }
  }
}

@media (max-width: 768px) {
  .rt-register-card {
    border-left: 0;

    .right-container {
      border-left: 0px;
    }

    .form-wrapper {
      margin-left: 0;
      padding-left: 20%;
    }

    .form-name {
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
    }
    .form-surname {
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
    }

    .button-container {
      margin: auto;
      padding-bottom: 3vh;
    }
  }
}

.password-input {
  position: relative;

  .password-preview {
    cursor: pointer;
    top: 0;
    right: 0;
    width: 36px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: $gray300;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}
