.rt-dropdown-color-picker-menu {
    width: 400px;

    .button-container{
        display: flex;
        justify-content: end;
    .reset-color{
        margin-bottom: 10px;
        margin-right: 10px;
    }
}
}
