.rt-reset-password-redirect {
    .redirect-container {
        display: flex;
        justify-content: center;

        .reset-password-text {
            align-items: center;
            display: flex;
            padding-right: 0.5vw;
            font-size: 20px;
        }

        .redirect {
            cursor: pointer;
            color: #2062fe;
            text-decoration: underline;
            font-size: 20px;
        }
    }
    /*@include small-phone {
        width: 50%;
    }

    @include phone {
        width: 50%;
      }

    @include tablet {
        width: 50%;
      }*/
}
